
<div class="row">
<div class="large-12 columns">
<%= nested_form_for @atendimento, :html => {:data => {:abide => ''}} do |f| %>
  <fieldset>
    <legend>Inicio de Novo atendimento</legend>
<% if @atendimento.errors.any? %>
  <div id="error_explanation">
    <h2>Foi identificado <%= pluralize(@atendimento.errors.count, "error") %> ao enviar o formulo</h2>
    <ul>
    <% @atendimento.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="large-6 columns left">
        <%= label_tag  :nome_completo %>
        <%= f.text_field :nome_completo, :required => '',:placeholder => 'Nome Completo' %>
    </div>
    <div class="large-3 columns left">
        <%= label_tag :email %>
        <%= f.text_field :email,:placeholder => 'nome@email.com.br' %>
    </div>
    <div class="large-3 columns left">
        <%= label_tag  :telefone %>
        <%= f.text_field :telefone, :required => '', :placeholder => '(xx) 9999-999' %>
    </div>
  </div>
<div class="row">
    <div class="large-3 columns left">
       <%= label_tag  :origem %>
       <%= f.text_field :origem, :required => '', :placeholder => 'Origem' %>
    </div>

    <div class="large-3 columns left">
       <%= label_tag  :destino %>
       <%= f.text_field :destino, :required => '', :placeholder => 'Destino'  %>
    </div>

    <div class="large-3 columns left">
        <%= label_tag  :data_ida %>
        <%= f.text_field :data_ida, :required => '', :placeholder => 'DD/MM/AAAA' %>
    </div>
    <div class="large-3 columns left">
       <%= label_tag  :data_volta %>
       <%= f.text_field :data_volta, :required => '', :placeholder => 'DD/MM/AAAA' %>
    </div>

</div>

  <div class="row">
    <div class="large-1 columns left">
        <%= label_tag  'Adultos' %>
        <%= f.text_field :adultos, :required => '', :placeholder => '0-10' %>
    </div>

    <div class="large-1 columns left">
       <%= label_tag  'Crianças' %>
       <%= f.text_field :criancas, :required => '', :placeholder => '0-10'  %>
    </div>

    <div class="large-1 columns left">
       <%= label_tag  'Bebês' %>
       <%= f.text_field :nenem, :required => '', :placeholder => '0-10'  %>
    </div>
      <div class="large-3 columns left">
        <select id="servicos" multiple class="ag-servicos" >
          <option value="01">Carro</option>
          <option value="02">Hotel</option>
          <option value="03">Translado</option>
        </select>
    </div>

  </div>
  <div class="row">
    <div class="large-12 columns">
        <label>Observações</label>
        <%= f.text_area :obs,
                        :placeholder => 'Observaçoes Adicionais',
                        class: 'atendimento_obs'
        %>
    </div>
  </div>

  </fieldset>
<% end %>
</div>
