.row
  .small-12.columns
    .tt
      %h4
        %i.fa.fa-cogs 
        Gerenciar Atendimentos
  .small-12.columns
    %table
      %thead
        %tr
          %th Nome Completo
          %th Origem
          %th Destino
          %th Pessoas
          %th Data Ida
          %th Data Volta
          %th Obs
      %tbody
        - @atendimento.each do |atendimento|
          %tr
            %td= link_to atendimento.cliente.nome_completo, atendimento_path(atendimento) 
            %td{:width => "100px"}= atendimento.origem
            %td{:width => "100px"}= atendimento.destino
            %td= pessoas(atendimento)
            %td= atendimento.data_ida
            %td= atendimento.data_volta
            %td{:width => "200px"}= atendimento.obs
  .small-12.columns
