
    <%= form_tag "", class: "orcamento-online", 
    :'ng-submit' => 'processForm()', 
    :'ng-controller'=>"formController" do |f| %>



      <div class="step1">
      <div class="row">
        <div class="large-12 columns">
          <h4>Orçamento <span>Online</span></h4>
        </div>
        <div class="large-12 columns left">
        
         <input type="radio" name="tipo" value="somente_ida" id="somente_ida" ng-model='formData.tipo'><label for="somente_ida">Somente Ida</label>
         <input type="radio" name="tipo" value="Ida e Volta" id="ida_volta" ng-model='formData.tipo'><label for="ida_volta">Ida e volta</label>

        </div>

        <div class="large-6 columns">
          <label>Origem: </label>
          <%= text_field_tag "Origem", "", 
            :'ng-model' => 'formData.origem',
            :placeholder => 'Origem',
            required: '',
            class: 'cidade'
          %>


        </div>
        <div class="large-6 columns">
          <label>Destino:</label>
          <%= text_field_tag "Destino", "", 
            :'ng-model' => 'formData.destino',
            :placeholder => 'Destino',
            required: '',
            class: 'cidade'
          %>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>Data Ida:</label>
          <%= text_field_tag "data_ida", "", 
            :'ng-model' => 'formData.data_ida',
            :placeholder => '00/00/0000',
            class: 'data',
            required: ''
          %>
        </div>
        <div class="large-6 columns left">
          <label>Data Volta:</label>
          <%= text_field_tag "Data Volta", "", 
            :'ng-model' => 'formData.data_volta',
            :placeholder => '00/00/0000',
            class: 'data',
            required: ''
          %>
        </div>

      </div>
      <div class="row">
        <div class="large-3 columns left">
         <label>Adultos: </label> 
          <%= text_field_tag "Data Volta", "", 
            :'ng-model' => 'formData.adultos',
            :placeholder => '0-10',
            required: '' 
          %>
       </div>
       <div class="large-3 columns left">
         <label>Crianças: </label> 
          <%= text_field_tag "Data Volta", "", 
            :'ng-model' => 'formData.criancas',
            :placeholder => '0-10',
            required: ''
          %>
       </div>
       <div class="large-3 columns left">
        <label>Bebês: </label>
          <%= text_field_tag "Data Volta", "", 
            :'ng-model' => 'formData.bebes',
            :placeholder => '0-10',
            required: ''
          %>
      </div>
      <div class="large-3 columns left">
       <input type="submit" class="button tiny font13" value="Avançar"  />
     </div>
   </div>
   </div>
   <div class="step2" style="display:none;">
   </div>
 <% end %>

  