
    <%= form_tag "", class: "orcamento-online", :'ng-submit' => 'processForm()' do |f| %>



      <div class="step1">
      <div class="row">
        <div class="large-12 columns">
          <h4>Orçamento <span>Online</span></h4>
        </div>
        <div class="large-12 columns left">
          <input id="checkbox1" type="radio"><label for="checkbox1">Ida e Volta</label>

          <input id="checkbox2" type="radio"><label for="checkbox2">Somente ida</label>

        </div>

        <div class="large-6 columns">
          <label>Origem </label>
          <%= text_field_tag "Origem", "", 
            :'ng-model' => 'formData.origem',
            :placeholder => 'Origem' 
          %>


        </div>
        <div class="large-6 columns">
          <label>Destino</label>
          <%= text_field_tag "Destino", "", 
            :'ng-model' => 'formData.destino',
            :placeholder => 'Destino' 
          %>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>Data Ida</label>
          <%= text_field_tag "dataida", "", 
            :'ng-model' => 'formData.dataida',
            :placeholder => '00/00/0000' 
          %>
        </div>
        <div class="large-6 columns left">
          <label>Data Volta</label>
          <%= text_field_tag "Data Volta", "", 
            :'ng-model' => 'formData.datavolta',
            :placeholder => '00/00/0000' 
          %>
        </div>

      </div>
      <div class="row">
        <div class="large-3 columns left">
         <label>Adultos: </label> 
          <%= text_field_tag "Data Volta", "", 
            :'ng-model' => 'formData.adultos',
            :placeholder => '0-10' 
          %>
       </div>
       <div class="large-3 columns left">
         <label>Crianças: </label> 
          <%= text_field_tag "Data Volta", "", 
            :'ng-model' => 'formData.criancas',
            :placeholder => '0-10' 
          %>
       </div>
       <div class="large-3 columns left">
        <label>Bebês: </label>
          <%= text_field_tag "Data Volta", "", 
            :'ng-model' => 'formData.bebes',
            :placeholder => '0-10' 
          %>
      </div>
      <div class="large-3 columns left">
       <input type="submit" class="button tiny font13" value="Enviar"  />
     </div>
   </div>
   </div>
   <div class="step2" style="display:none;">
   </div>
 <% end %>

  