
<div class="ct">
<h1>Lista de Orçamentos</h1>


<table>
	<thead>
		<tr>
			<th>ID</th>
			<th class="text-center" >Titulo</th>
			<th class="text-center" >Cliente</th>
			<th class="text-center" >Voos</th>
			<th class="text-center" >Hoteis</th>
			<th class="text-center" >Link</th>
			<th class="text-center" >Apagar</th>
		</tr>
	</thead>
	<tbody>
		<% @orcamento.each do |orcamento|%>
		<tr>
			<td class="text-center"><%= orcamento.id %></td>
			<td class="text-center"> <%= orcamento.titulo %> </td>
			<% if orcamento.clientes.first.present? %>
				<td class="text-center"><%= orcamento.clientes.first.nome_completo %></td>
			<% else %>
				<td class="text-center"> Desconhecido </td>
			<% end %>										
			<td class="text-center"><%= orcamento.aereos.count %></td>
			<td class="text-center"><%= orcamento.hotels.count %></td>
			<td class="text-center">
				<%= link_to "Visualizar", orca_path(orcamento) %> | <%= link_to "Editar", edit_orca_path(orcamento) %>
			</td>
			<td class="text-center">

				<%= link_to 'Apagar', orca_path(orcamento),
                    method: :delete, data: { confirm: "Tem certeza que deseja apagar o orçamento #{orcamento.titulo}" } %></td>
		</tr>
		<% end %>
	</tbody>
</table>
	<%= link_to "Novo Orçamento", new_orca_path, :class => "button"%>
</div>