<div class="row">


<br>
<h3>
	<b>
		<i class="fa fa-folder-open-o"></i> <%= @orcamento.titulo.upcase %> #<%= @orcamento.id %>
	</b>
</h3>
<% if @orcamento.aereos.present? %>
<div class="voos">
	<div class="tt">
		 <h4><i class="fa fa-plane"></i> Voos</h4>
	</div>
		<table>
			<thead>
				<tr>
					<th>COD</th>
					<th>CIA</th>
					<th>VOO</th>
					<th>PARTIDA</th>
					<th>CHEGADA</th>
					<th>ORIGEM</th>
					<th>DESTINO</th>
				</tr>
			</thead>
			<tbody>
				<% @orcamento.aereos.order(created_at: :asc).each do |orcamento|%>
				<tr>
					<td>#<%= orcamento.id %></td>
					<td><%= logo_find(orcamento.cia) %></td>
					<td><%= orcamento.voo %></td>
					<td><%= orcamento.ida %></td>
					<td><%= orcamento.volta %></td>
					<td><%= orcamento.origem %></td>
					<td><%= orcamento.destino %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>

<% if @orcamento.hotels.present? %>
	<div class="hoteis">

	<div class="tt">
		 <h4><i class="fa fa-building-o"></i> Hoteis</h4>
	</div>
		<table>
			<thead>
				<tr>
					<th>COD</th>
					<th>NOME</th>
					<th>TIPO</th>
					<th>FOTO</th>
				</tr>
			</thead>
			<tbody>
				<% @orcamento.hotels.each do |hoteis|%>
				<tr>
					<td>#<%= hoteis.id %></td>
					<td><%= hoteis.nome %></td>
					<td><%= hoteis.tipo %></td>
					<td><%= cl_image_tag(hoteis.foto,
							:format => 'png',
							:width => 180,
							:height => 108,
							:crop => :scale,
							alt: "#{hoteis.nome}")  
						%></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>
</div>
