<div class="tp-menu">
<div class="row">
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Sistema de Orçamento 1.0</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">

    <!-- Left Nav Section -->
    <ul class="right">
      <li class="active"><%= link_to "Home", orcas_path %></li>

     
      <li class="has-dropdown">
        <%= link_to "Orçamentos", orcas_path  %>
        <ul class="dropdown">
          <li><%= link_to "Novo Orçamento", new_orca_path %></li>
        </ul>
      </li>

      <li class="has-dropdown">
        <%= link_to "Clientes", clientes_path %>
        <ul class="dropdown">
          <li><%= link_to "Buscar Cliente", new_orca_path %></li>
        </ul>
      </li>

      <li class="has-dropdown">
        <%= link_to "Atendimento", atendimentos_path %>
        <ul class="dropdown">
          <li> <%= link_to "Novo Atendimento", new_atendimento_path %> </li>
          <li><a href="#">Online</a></li>
          <li><a href="#">Telefone</a></li>
        </ul>
      </li>
    </ul>


  </section>
</nav>
</div>
</div>