
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>Proximo Embarque - Sua Proxima Viagem Começa aqui</title>
  <meta name="author" content="Alvaro Trigo Lopez" />
  <meta name="description" content="fullPage plugin by Alvaro Trigo. Create fullscreen pages fast and simple. One page scroll like iPhone website." />
  <meta name="keywords"  content="fullpage,jquery,alvaro,trigo,plugin,fullscren,screen,full,iphone5,apple" />
  <meta name="Resource-type" content="Document" />


  <%= stylesheet_link_tag "mkt" %>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic" rel="stylesheet" type="text/css">

  <!--[if IE]>
    <script type="text/javascript">
       var console = { log: function() {} };
    </script>
  <![endif]-->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <%= javascript_include_tag "formulario" %>

<%= csrf_meta_tags %>
</head>
<body  >

<%= yield %>
<%= javascript_include_tag "mkt" %>
<%= javascript_include_tag "scrollReveal.min" %>
<script type="text/javascript">


  $(document).ready(function() {
    setInterval(function () {
      datas($('#countdown').data().time,document.getElementById("countdown"));
    }, 1000);
  });
  
</script>
<script>
   
    window.scrollReveal = new scrollReveal({reset: true});

    $( document ).ready(function() {
        $('.animado').show();
    });

function initialize() {

 var options = {
  types: ['(cities)'],
  componentRestrictions: {country: "br"}
 };

 $('.cidade').map(function(){
  var autocomplete = new google.maps.places.Autocomplete(this, options);
 });
 
}

function selectFirstResult(el) {
   $(".pac-container").hide();
   var firstResult = $(".pac-container .pac-item:first .pac-item-query").text() + ' ' + $(".pac-container .pac-item:first .pac-item-query").next().text();
   
   var geocoder = new google.maps.Geocoder();
   geocoder.geocode({"address":firstResult }, function(results, status) {
       if (status == google.maps.GeocoderStatus.OK) {
           var lat = results[0].geometry.location.lat(),
               lng = results[0].geometry.location.lng(),
               placeName = results[0].address_components[0].long_name,
               latlng = new google.maps.LatLng(lat, lng);
               $(el).val(results[0].formatted_address);
       }
   });   
}

codeAddress = function(add){
  var geocoder = new google.maps.Geocoder();
  var address = $(add).val();

  var request = {
      address: address,
      componentRestrictions: {
          country: 'BR'
      }
  }

  geocoder.geocode(request, function(results, status) {
    $(add).val(results[0].formatted_address);
  });   
   
}

    $("input.cidade").focusout(function () {
        if(!$(".pac-container").is(":focus") && !$(".pac-container").is(":visible"))
            codeAddress(this);
    });

initialize();
  
</script>
</body>
</html>